.container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: black;

  position: relative;
  z-index: 0;
  width: 100%;
  font-size: 12px;
  top: 15px;
}

/* Поведение карточек относительно статуса */
.canceled {
  background-color: #f7bdbd;
}
.done {
  background-color: #caf1c7;
}
.backlog {
  background-color: #efefef;
}

/* Кнопки для карточек */
.icon {
  width: 20px;
  height: 20px;
}

.checkIcon {
  margin-right: 5px;
}

.binIcon {
  margin-left: 5px;
}

.doneButton, .deleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  position: absolute;
  background-color: #E1E1E1;
  height: 100%;
  width: 25%;
  top: 0;
  border-radius: 0;
  z-index: -1;
  pointer-events: all;
  mix-blend-mode: lighten;
}

/* Заголовок карточки */
.titleDecoration {
  text-decoration: line-through;
  color: gray;
}
.title {
  font-weight: bold;
}

/* Детали карточки */
.details {
  display: flex;
  gap: 7px;
  align-items: center;
}

.tagIndicator {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  display: inline-block;
}

.title > .tagIndicator {
    margin-right: 5px;
}

/* Карточка */
.taskItem {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.taskBackground {
  background-color: #E1E1E1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}