.calendarContainer {
  height: 85vh;
  background-color: #FBFBFB;
  color: black;
  text-align: left;
  padding: 20px;
  padding-top: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #FBFBFB;
  margin-bottom: 5px;
  padding-top: 5px;
}

.allDaysTasks {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.divider {
  width: 100%;
  border-bottom: 1px dotted #A6A6A6;
}

.timeSlot {
  position: relative;
  padding-left: 40px;
  min-height: 70px;
}

.timeLabel {
  position: absolute;
  left: 0;
  text-align: left;
  color: #A6A6A6;
  font-size: 13px;
  line-height: 1.2;
  top: 0;
  border-bottom: 1px dotted #A6A6A6;
}

.timeLine {
  border-bottom: 1px dotted #9A5EE6;
  width: 100%;
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 2;
}

.timeLine::before {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #9A5EE6;
  position: absolute;
  top: -3px;
  content: " ";
}