.calendarContainer {
  height: 100vh;
  background-color: #FBFBFB;
  color: black;
  text-align: left;
  padding: 20px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.allDaysTasks {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.divider {
  width: 100%;
  border-bottom: 1px dotted #A6A6A6;
  margin-bottom: 25px;
}

.timeSlot {
  position: relative;
  padding-left: 50px;
  min-height: 70px;
}

.timeSlot:last-child {
  margin-bottom: 0;
}

.timeLabel {
  position: absolute;
  left: 0;
  text-align: left;
  color: #A6A6A6;
  font-size: 13px;
  line-height: 1.2;
  top: -15px;
  border-bottom: 1px dotted #A6A6A6;
  width: 15%;
}
